<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/details.css">
  <title>Document</title>
</head>

<body>
  <div class="nav_bar">
    <h2>Recruit Hub</h2>
  </div>
  <div class="container2">

    <div class="details">
      <h2>Details:</h2>
      <form action="" method="">
        <input type="text" placeholder="Name" required="true">
        <input type="text" placeholder="Email" required="true">
        <input type="text" placeholder="Phone No." required="true">
        <br><br>
        <label for="Branch">Gender:</label><br>
        <select name="branch" id="branch">
          <option value="btech">Male</option>
          <option value="bba">Female</option>

        </select>
        <br><br>

        <label for="Branch">Select Your Branch:</label><br>
        <select name="branch" id="branch">
          <option value="btech">B.Tech</option>
          <option value="bba">BBA</option>
          <option value="mba">MBA</option>
          <option value="bcom">B.Com</option>
          <option value="mcom">M.Com</option>
        </select>
        <br><br>
        <label for="Branch">Select Your Stream:</label><br>
        <select name="branch" id="branch">
          <option value="btech">Computer Science and Engineering</option>
          <option value="bba">Aeronautical Engineering</option>
          <option value="mba">Civil Engineering</option>
          <option value="bcom">Mechanical Engineering</option>
          <option value="mcom">Electronics & Communication</option>
        </select>

        <input type="text" placeholder="Enrollment No." required="true">
        <input type="text" placeholder="Hign Schools Marks (in%)" required="true">
        <input type="text" placeholder="Intermediate Marks (in%)" required="true">
        <input type="text" placeholder="Graduation Marks (in%)" required="true"><br>
        <button>Submit</button>
      </form>
    </div>
    <div class="docs">
      <div class="files">
        <div class="img">
          <h2>Upload Profile Picture:</h2>
          <form action="" method="" enctype="multipart/form-data">
            <input type="file" required="true"><br>
            <button>Upload</button>
          </form>
        </div>

        <div class="resume">
          <h2>Upload Resume:</h2>
          <input type="file" required="true"><br>
          <button>Upload</button>
        </div>
      </div>
    </div>
  </div>


</body>

</html>