<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/adminstyle.css">
    <title>RECRUIT-HUB Admin</title>
</head>
<body>

    <nav id="nav">
        <div class="top-bar">
            <h1>Recruit Hub </h1>
        </div>
    </div>
    </nav>
    <div class="admin-container">
        <div class="admin-info">
            <div class="admin-image">
                <img src="img/images.png" alt="Admin Image">
            </div>
            <p>Name: <span id="admin-name">Iqbal</span></h3>
            <p>Employee ID: <span id="employee-id">12345</span></p>
            <p>Email: <span id="admin-email">Iqbal12@example.com</span></p>
        </div>

        <div class="admin-links">
            <ul>
              
                <li><a href="post-notification">Post a Notification</a></li>
           
                <li><a href="add-admin">Add Admin</a></li>
               <li><a href="student-data">Student Data</a></li>
                <li><a href="queries">Queries</a></li>
            </ul>
        </div>
    </div>
</body>
</html>  