<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/index.css">
  <title>Document</title>
</head>

<body>
  <div class="nav_bar">

    <h2>Recruit Hub</h2>
    <ul>
      <a href="/signup">SignUP/Login</a>
      
    </ul>
   </div>
  <div class="container">
    <h1>WELCOME TO CRC RECRUIT HUB</h1>
  </div>
   <footer>
    <div class="footer">
        <div class="content">
            <h3>________All Copirights Reserved To_______ </h3>
        <pre>                   Lakshit||vishwa||Amender||Krish         </pre>
        </div>
        
    </div>
   </footer>

</body>

</html>