<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/studentstyle.css">
    <title>RECRUIT-HUB Student</title>
</head>
<body>

    <nav id="nav">
        <div class="top-bar">
            <h1>Recruit Hub </h1>
        </div>
    </div>
    </nav>
    <div class="student-container">
        <div class="student-info">
            <div class="student-image">
                <img src="img/dawg.jpeg" alt="Admin Image">
            </div>
            <p>Name: <span id="student-name">Mukesh</span></h3>
            <p>Student ID: <span id="student-id">12345</span></p>
            <p>Email: <span id="student-email">Mukesh@example.com</span></p>
            <p>Course : <span id="course">B.Tech</span></p>
            <p>Branch : <span id="branch">CSE</span></p>
            <p>Phone No. <span id="phone-no">123456789</span></p>
            <p>Gender : <span id="gender">Male</span></p>
            <p>High School % : <span id="high-school">80%</span></p>
            <p>Intermediate % : <span id="intermediate">90%</span></p>
            <p>Graduation % : <span id="graduation">80%</span></p>
        </div>

        <div class="student-links">
            <ul>
              
                <li><a href="notification">Notifications</a></li>
           
                <li><a href="add-admin">Upload Resume</a></li>
               <li><a href="student-data">Raise Query</a></li>
                <li><a href="queries">Edit Information</a></li>
            </ul>
        </div>
    </div>
</body>
</html>  